p{
    color:darkslateblue;
    background-color: lightblue;
}
h1{
    color:darkslateblue ;
    text-align: center;
}
#parrafo1{
    color: black;
    text-align: right;
}
#parrafo2{
    color:brown;
    text-align: right;
}
